{% extends "CelmediaAdminThemeBundle::template.html.twig" %}

{% block content %}



<div class="widget stacked widget-table action-table">

	<div class="widget-header">
		<i class="icon-th-list"></i>
		<h3>Emergencias</h3>
	</div> <!-- /widget-header -->

	<div id="map_canvas"></div>
 

	</div> <!-- /widget -->




	{% endblock %}